.center {
  display: flex;
  flex-direction: column;
  align-items: center; }

.background {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw;
  background-image: url(../img/accueil_don.jpg); }

a.btn-plus {
  position: absolute; }
  a.btn-plus:nth-child(2) {
    color: blanchedalmond;
    top: 56vh;
    left: 40vw; }
  a.btn-plus:nth-child(3) {
    top: 30vh;
    left: 20vw; }
  a.btn-plus:nth-child(4) {
    top: 45vh;
    left: 85vw; }
  a.btn-plus:nth-child(5) {
    top: 70vh;
    left: 85vw; }
  @media screen and (max-width: 800px) {
    a.btn-plus:nth-child(2) {
      top: 54vh; }
    a.btn-plus:nth-child(3) {
      top: 40vh; }
    a.btn-plus:nth-child(5) {
      top: 60vh; } }
  @media screen and (max-width: 600px) {
    a.btn-plus {
      transform: scale(0.5); }
      a.btn-plus:nth-child(2) {
        top: 50vh; }
      a.btn-plus:nth-child(4) {
        top: 40vh;
        left: 80vw; }
      a.btn-plus:nth-child(5) {
        top: 55vh;
        left: 80vw; } }

body {
  width: 100vw;
  background-color: #cdcdcd; }

.bg {
  background-image: var(--bg-image);
  height: 100vh;
  margin-right: 5vw;
  background-size: cover; }
  @media screen and (max-width: 1000px) {
    .bg {
      width: 100vw;
      height: 50vh;
      margin: 0;
      margin-bottom: 15vh; } }
  @media screen and (max-width: 600px) {
    .bg {
      height: 40vh; } }
  @media screen and (max-width: 450px) {
    .bg {
      height: 30vh; } }

.colonnes {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: space-around; }
  @media screen and (max-width: 1000px) {
    .colonnes {
      flex-direction: column;
      justify-content: flex-end;
      align-items: center; } }
  .colonnes section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .colonnes section:not(:first-child) {
      transform: translateY(10vh); }
    .colonnes section:is(:not(:nth-child(1))) {
      margin-right: 5rem; }
    @media screen and (min-width: 1000px) {
      .colonnes section {
        height: 100vh; } }

.btn-plus {
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: black;
  display: flex; }
  .btn-plus::before {
    content: url(../img/croixBasque.svg);
    position: relative;
    padding-top: 0.125rem;
    border: 1px black solid;
    border-radius: 50%; }
  .btn-plus:hover {
    transition: ease-in-out 0.3s;
    opacity: 0.8;
    background-color: black;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 25px; }
    .btn-plus:hover::after {
      content: attr(data-lien);
      transition: ease-in-out 5s;
      position: relative;
      top: 3.75px;
      display: block;
      font-size: 1.25rem; }
    .btn-plus:hover::before {
      border: 0; }

#modal {
  background-color: transparent;
  z-index: 1;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw; }
  #modal * {
    z-index: inherit; }
  #modal.active {
    display: flex; }
  #modal #md-bg {
    background-color: black;
    opacity: 0.5;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0; }
  #modal main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 60vw;
    height: 90vh;
    background-color: white;
    border-radius: 5vh;
    opacity: 1; }
    @media screen and (max-width: 600px) {
      #modal main {
        width: 80vw;
        height: 80vh;
        transform: translateY(-5vh); } }
    #modal main header {
      border-radius: 5vh 5vh 0 0;
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 1rem 0;
      border-bottom: black solid 1px;
      box-shadow: 1vh 0vh 1vh black; }
    #modal main .body {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 0 1rem;
      padding: 0 2rem;
      overflow: auto;
      scrollbar-width: thin;
      /* "auto" or "thin" */
      scrollbar-color: grey blanchedalmond; }
      @media screen and (max-width: 600px) {
        #modal main .body {
          padding: 0; } }
      #modal main .body > .complementaire {
        display: flex;
        justify-content: space-between; }
        @media screen and (max-width: 900px) {
          #modal main .body > .complementaire {
            flex-direction: column;
            align-items: center; } }
        #modal main .body > .complementaire img {
          width: 55%;
          margin: 1rem 1rem 0 0; }
        #modal main .body > .complementaire > div {
          display: inherit;
          flex-direction: column;
          justify-content: space-around; }
          @media screen and (max-width: 900px) {
            #modal main .body > .complementaire > div tr {
              display: flex;
              flex-direction: column; } }
          #modal main .body > .complementaire > div td {
            width: 50%; }
            #modal main .body > .complementaire > div td input {
              width: 100%; }
      #modal main .body::-webkit-scrollbar {
        width: 15px; }
      #modal main .body::-webkit-scrollbar-track {
        background: orange;
        border-radius: 10px; }
      #modal main .body::-webkit-scrollbar-thumb {
        background: blue;
        border-radius: 10px; }
    #modal main footer {
      border-radius: 0 0 5vh 5vh;
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 2rem;
      padding: 1rem 0;
      border-top: black solid 1px;
      box-shadow: 1vh 0 1vh black; }
      #modal main footer button {
        margin: 0 0 0 2em;
        border-radius: 0.5rem;
        height: 150%;
        width: 20%;
        cursor: pointer;
        transform: translateY(-1vh); }
        @media screen and (max-width: 600px) {
          #modal main footer button {
            transform: translateY(-1vh); } }
      #modal main footer #submit {
        background-color: green;
        color: white; }

.site-header {
  background-color: rgba(36, 38, 41, 0.8);
  color: #fff;
  display: table;
  left: 0;
  height: 8vh;
  padding: 15px 40px;
  position: fixed;
  right: 0;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  top: 0;
  width: 100%;
  z-index: 5;
  font-size: 0.7rem; }
  .site-header a {
    text-decoration: none; }

.home .site-header,
.blog .site-header {
  background-color: rgba(36, 38, 41, 0.4); }

.admin-bar .site-header,
.admin-bar.is-singular .site-header {
  top: 32px; }

/**
 # Site Branding
 */
.site-branding {
  display: table-cell;
  margin: 0;
  vertical-align: middle;
  width: 30%; }

.site-title {
  clear: none;
  font-size: 3em;
  line-height: 1.2;
  margin: 0;
  position: relative;
  vertical-align: middle; }

.site-title,
.site-branding a,
.site-branding a:hover,
.site-branding a:focus,
.site-branding a:active {
  color: inherit;
  text-decoration: none; }

.site-branding .site-logo-link {
  line-height: 1;
  padding-right: 10px;
  position: relative;
  vertical-align: middle;
  width: auto; }

.site-branding .site-logo-link img {
  height: auto;
  max-height: 100px;
  max-width: 310px;
  width: auto; }

.site-branding .site-description {
  display: none;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.62;
  margin: 0;
  padding: 0; }

#site-navigation {
  display: table-cell;
  font-size: 1.4em;
  text-align: right;
  vertical-align: middle;
  width: 70%; }

#site-navigation a {
  color: #fff;
  display: inline-block;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }

#site-navigation a:hover,
#site-navigation a:focus {
  opacity: 0.7;
  text-decoration: none; }

#site-navigation ul,
#site-navigation li {
  list-style: none;
  margin: 0;
  padding: 0; }

#site-navigation li {
  position: relative; }

#site-navigation ul li {
  display: inline-block;
  letter-spacing: 0.1em;
  margin-left: 1.5em;
  padding: 6px 0 10px;
  text-transform: uppercase; }

#site-navigation ul ul {
  left: -9999em;
  margin-top: 10px;
  position: absolute;
  width: 220px;
  z-index: 10; }

#site-navigation ul ul:before {
  border-color: transparent transparent #292c2f transparent;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  top: -10px;
  width: 0; }

#site-navigation ul ul ul {
  top: 0;
  padding-right: 8px; }

#site-navigation ul ul ul:before {
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent #292c2f;
  left: auto;
  margin-left: 0;
  right: 0;
  top: 1.25em; }

#site-navigation ul ul li {
  background: #292c2f;
  display: block;
  font-size: 1.4em;
  letter-spacing: 0;
  margin-left: 0;
  padding: 0;
  text-align: left;
  text-transform: none; }

#site-navigation ul ul a {
  display: block;
  padding: 1em 2em;
  text-shadow: none; }

#site-navigation ul li:hover > ul,
#site-navigation ul li.focus > ul {
  left: 50%;
  margin-left: -110px; }

#site-navigation ul ul li:hover > ul,
#site-navigation ul ul li.focus > ul {
  left: auto;
  margin: 0;
  right: 100%; }

.menu-toggle {
  display: none; }

@media only screen and (max-width: 960px) {
  /**
	 * Site Header
	 */
  .site-header {
    color: white !important;
    height: 9vh; }
  .site-header,
  .is-singular .site .site-header,
  .admin-bar .site-header,
  .admin-bar.is-singular .site-header {
    display: block;
    padding: 2rem 2rem 0;
    position: relative;
    top: 0;
    width: 100%; }
  .site-header,
  .is-scrolled .site-header,
  .blog .site-header,
  .home .site-header {
    background-color: #292c2f; }
  .site-branding {
    display: block;
    float: none;
    padding-bottom: 2rem;
    width: 75%; }
  .is-singular:not(.home) .site-header > .site-branding {
    display: block; }
  .site-branding .site-logo-link img {
    max-width: 250px; }
  /**
	 * Menu
	 */
  #site-navigation {
    display: block;
    float: none;
    text-align: left;
    width: 100%; }
  .menu-toggle {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: block;
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 1em 1.5em;
    position: absolute;
    right: 2rem;
    text-transform: uppercase;
    top: 1rem; }
  .menu-toggle:before {
    content: "\f419";
    font-size: 85%;
    margin: 0 6px 0 0;
    position: relative;
    top: 1px; }
  .open .menu-toggle:before {
    content: "\f406"; }
  #site-navigation > div {
    display: none; }
  #site-navigation.open > div {
    display: block; }
  #site-navigation ul li {
    border-top: 1px solid #363b40;
    display: block;
    margin: 0;
    padding: 0; }
  #site-navigation ul a {
    color: #8c97a2;
    display: block;
    padding: 1em 0; }
  #site-navigation ul ul {
    background: transparent;
    line-height: 1.6;
    margin: 0 0 0 2rem !important;
    padding: 0;
    position: static;
    width: auto; }
  #site-navigation ul ul:before {
    display: none; }
  #site-navigation ul ul li {
    border: 0; }
  #site-navigation ul ul a {
    color: #616a74;
    padding: 1rem 0; }
  #site-navigation ul li:hover > ul,
  #site-navigation ul li.focus > ul,
  #site-navigation ul ul li:hover > ul,
  #site-navigation ul ul li.focus > ul {
    left: 0;
    margin: 0; }
  #site-navigation ul ul ul {
    padding-left: 0; } }

.tableau {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  @media screen and (min-width: 1000px) {
    .tableau {
      transform: translateY(-5vh); } }
  @media screen and (max-width: 1000px) {
    .tableau {
      position: relative;
      left: 6vh; } }
  @media screen and (max-width: 1000px) {
    .tableau {
      margin-bottom: 100px; } }
  .tableau h1 {
    text-transform: capitalize; }
  .tableau table {
    border: solid black 1px;
    border-spacing: 0px; }
    .tableau table th,
    .tableau table td {
      padding: 0 0.5em; }
    .tableau table th {
      font-size: 0.8rem; }
    .tableau table tr {
      border-radius: 10px/5px;
      color: white;
      background-color: #405164; }
      .tableau table tr:nth-child(odd) {
        background-color: #2c3845; }
      .tableau table tr td:nth-child(1) {
        width: 11em;
        overflow: hidden;
        display: inline-block; }
      .tableau table tr > td:not(:first-child) {
        text-align: center; }
      .tableau table tr > td:last-child {
        text-align: end; }
    .tableau table .more-info {
      cursor: pointer;
      color: white; }
      .tableau table .more-info:hover {
        background-color: #1a1a1a; }
      .tableau table .more-info td:nth-child(1) {
        width: 10em;
        overflow: hidden;
        display: inline-block; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body.main {
    overflow: hidden;
    position: fixed; }
