#modal {
  background-color: transparent;
  z-index: 1;
  * {
    z-index: inherit;
  }
  display: none;
  &.active {
    display: flex;
  }
  position: absolute;
  top: 0;
  left: 0;

  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
  #md-bg {
    background-color: black;
    opacity: 0.5;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 60vw;
    height: 90vh;
    @media screen and (max-width: 600px) {
      width: 80vw;
      height: 80vh;
      transform: translateY(-5vh);
    }
    background-color: white;
    border-radius: 5vh;
    opacity: 1;
    header {
      border-radius: 5vh 5vh 0 0;
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 1rem 0;
      border-bottom: black solid 1px;
      box-shadow: 1vh 0vh 1vh black;
    }
    .body {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 0 1rem;
      padding: 0 2rem;
      @media screen and (max-width: 600px) {
        padding: 0;
      }
      overflow: auto;
      scrollbar-width: thin; /* "auto" or "thin" */
      scrollbar-color: grey blanchedalmond;
      & > .complementaire {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 900px) {
          flex-direction: column;
          align-items: center;
        }
        img {
          width: 55%;
          margin: 1rem 1rem 0 0;
        }
        > div {
          display: inherit;
          flex-direction: column;
          justify-content: space-around;
          tr {
            @media screen and (max-width: 900px) {
              display: flex;
              flex-direction: column;
            }
          }
          td {
            width: 50%;
            input {
              width: 100%;
            }
          }
        }
      }
      &::-webkit-scrollbar {
        width: 15px;
      }

      &::-webkit-scrollbar-track {
        background: orange;

        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: blue;

        border-radius: 10px;
      }
    }
    footer {
      border-radius: 0 0 5vh 5vh;
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 2rem;
      padding: 1rem 0;
      border-top: black solid 1px;
      box-shadow: 1vh 0 1vh black;
      button {
        margin: 0 0 0 2em;
        border-radius: 0.5rem;
        height: 150%;
        width: 20%;
        cursor: pointer;
        // margin-bottom: 1vh;
        transform: translateY(-1vh);
        @media screen and (max-width: 600px) {
          transform: translateY(-1vh);
        }
      }
      #submit {
        background-color: green;
        color: white;
      }
    }
  }
}
