@charset "utf-8";
body {
  width: 100vw;
  background-color: lighten(gray, 30%);
}
.header-ssfam {
  position: absolute;
  right: var(--header-position);
  height: 10vh;
  text-align: center;
  h2 {
    font-size: 1rem;
  }
  @media screen and (max-width: 1000px) {
    position: relative;
    right: 0;
    transform: none;
    width: auto;

    bottom: 10vw;
  }
}
.bg {
  // position: absolute;
  // left: 0;
  // top: 0;
  background-image: var(--bg-image);
  width: 50vw;
  height: 100vh;
  margin-right: 5vw;
  background-size: cover;

  @media screen and (max-width: 1000px) {
    width: 100vw;
    height: 50vh;
    margin: 0;
    margin-bottom: 15vh;
  }
  @media screen and (max-width: 600px) {
    height: 40vh;
  }
  @media screen and (max-width: 450px) {
    height: 30vh;
  }
}

.colonnes {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  &.noScale {
    .tableau {
      @media screen and (min-width: 1000px) {
        transform: none;
      }
      @media screen and (max-width: 1000px) {
        transform: translatey(-5vh);
      }
    }
  }
  align-items: space-around;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  section {
    &:not(:first-child) {
      transform: translateY(10vh);
    }
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    &:is(:not(:nth-child(1))) {
      margin-right: 5rem;
    }
    @media screen and (min-width: 1000px) {
      height: 100vh;
    }
  }
  .tableau {
    @media screen and (min-width: 1000px) {
      transform: translateY(-5vh) scale(1.2);
    }
    @media screen and (max-width: 1000px) {
      position: relative;
      left: 6vh;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @media screen and (max-width: 1000px) {
      margin-bottom: 100px;
    }
    h1 {
      text-transform: capitalize;
    }
    table {
      border: solid black 1px;
      border-spacing: 0px;

      th,
      td {
        padding: 0 0.5em;
      }
      th {
        font-size: 0.8rem;
      }

      tr {
        border-radius: 10px/5px;
        color: white;
        background-color: lighten(#2c3845, 10%);
        &:nth-child(odd) {
          background-color: lighten(#2c3845, 0%);
        }
        td:nth-child(1) {
          width: 11em;
          overflow: hidden;
          display: inline-block;
        }
        > td:not(:first-child) {
          text-align: center;
        }
        > td:last-child {
          text-align: end;
        }
      }
      .more-info {
        cursor: pointer;
        color: white;
        &:hover {
          background-color: lighten(black, 10%);
        }
        td:nth-child(1) {
          width: 10em;
          overflow: hidden;
          display: inline-block;
        }
      }
    }
  }
}
